.background {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

#map {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

img {
    max-width: 100%;
}
 .gallery img {
     background-color: aliceblue;
     padding: 15px;
     width: 100%;
      cursor: pointer;
 }

 #gallery-modal .modal-img {
     width: 100%;
 }