<!DOCTYPE html>
<html lang="en">
<head>
    <title>My project</title>
    <div th:replace="fragments/head"></div>
</head>
<body>

<div class="background">
    <!--Navbar-->
    <div th:replace="fragments/navigation"></div>

    <div class="container-md">
        <div class="row justify-content-center">
            <div class="col-md-5 my-5">
                <div class="showcase">
                    <h1>Find amazing routes</h1>
                    <p>Sick of staying at home, sick of limitations? Be free! Find a route and enjoy nature!</p>
                    <a th:href="@{/routes}" class="btn btn-success">To routes</a>
                    <div class="row justify-content-center align-items-center">
                        <div class="row py-2">
                            <div class="col">
                                <div class="row py-2">
                                    <div class="input-group col-sm">
                                        <span class="input-group-text">Lat</span>
                                        <input
                                                type="text"
                                                class="form-control"
                                                inputmode="numeric"
                                                id="latitude"
                                                placeholder="latitude"
                                                aria-label="latitude"
                                                value="42.70"
                                        />
                                    </div>
                                    <div class="input-group col-sm">
                                        <span class="input-group-text">Lon</span>
                                        <input
                                                type="text"
                                                class="form-control"
                                                inputmode="numeric"
                                                id="longitude"
                                                placeholder="longitude"
                                                aria-label="longitude"
                                                value="23.32"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="map"></div>
                                    <div class="col py-2">
                                        <button id="btnGet" type="button" class="btn btn-primary mb-3">
                                            Get Weather
                                        </button>
                                        <button id="btnCurrent" type="button" class="btn btn-primary mb-3">
                                            Use Current Location
                                        </button>
                                        <button id="btnTrack" type="button" class="btn btn-primary mb-3">
                                            Track
                                        </button>
                                        <button id="stopTrackBtn" type="button" class="btn btn-primary mb-3">
                                            Stop tracking
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-6 my-5 text-end">
                <div class="row md-6" id="current-weather">
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-header">
                                Today
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="http://openweathermap.org/img/wn/10d@4x.png"
                                             class="img-fluid float-start" alt="Weather description" width="150"
                                             height="150">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>36 ged</p>
                                                <small>feels like</small>
                                            </div>
                                            <div class="col-md-6">
                                                <small>Precipitation</small>
                                                <small>Humidity</small>
                                                <small>Wind</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">

                                                <small>max temp</small>
                                                <small>min temp</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row">Summary</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- 4-Day Forecast -->
                <div class="row" id="weather-forecast">
                    <!-- Day 1 -->
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                Day 1
                            </div>
                            <div class="card-body">
                                <!-- Weather information here -->
                                <p>Temperature: 25°C</p>
                                <p>Condition: Sunny</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer"></div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script th:src="@{/js/weather.js}"></script>
<script th:src="@{/js/map.js}"></script>
</body>

</html>