<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error page </title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Error page</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <p class="bg-danger text-white"
            th:text="${error}">Token error</p>
        </div>
    </div>
</main>
<div th:replace="fragments/footer"></div>
</body>
</html>