<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reset Password</title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Reset password</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form
                    th:action="@{/users/reset-password/reset/{token}(token=${resetToken})}"
                    th:method="post"
                    th:object="${userResetPasswordModel}">

                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label ">Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="password"
                               th:errorclass="is-invalid"
                               required minlength="5" maxlength="20"
                               type="password"
                               id="inputPassword"
                               class="form-control"
                               aria-describedby="passwordHelpInline"
                               placeholder="Password">
                        <small id="passwordError"
                               class="invalid-feedback  form-text bg-danger rounded text-white">
                            <div th:each="err : ${#fields.errors('password')}"
                                 th:text="${err}">Password length must be between 5 and 20 characters and passwords
                                should match.
                            </div>
                        </small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label ">Confirm Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="confirmPassword"
                               th:errorclass="is-invalid"
                               required minlength="5" maxlength="20"
                               type="password"
                               id="inputConfirmPassword"
                               class="form-control"
                               aria-describedby="confirmPasswordHelpInline"
                               placeholder="Confirm password">
                        <small id="confirmPasswordError"
                               class="invalid-feedback  form-text bg-danger rounded text-white">
                            <div th:each="err : ${#fields.errors('confirmPassword')}"
                                 th:text="${err}">Password length must be between 5 and 20 characters and passwords
                                should match.
                            </div>
                        </small>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Reset password</button>
                </div>

            </form>
        </div>
    </div>
</main>
<div th:replace="fragments/footer"></div>
</body>
</html>